body {
    background: #181818;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

.slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

.slide code {
    font-size: 1.25rem;
    padding: 1rem;
}

.slide h1 {
    font-size: 5rem;
    margin: 0;
}

.slide h2 {
    font-size: 3.5rem;
    margin: 0;
}

.slide p, .slide ul {
    margin: 1rem 0;
}

.slide li {
    margin-bottom: 0.5rem;
}

.slide-previous, .slide-next {
    position: fixed;
    top: 50%;
    color: white;
    text-decoration: none;
    font-size: 4rem;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.slide-previous:hover, .slide-next:hover {
    opacity: 1;
}

.slide-next{
    right: 1rem;
}

.slide-previous{
    left: 1rem;
}

.slide-slide {
    animation: slide-out 1.5s ease-out;
    animation-fill-mode: forwards;
}

.slide-portal {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
}

.slide-portal-reveal {
    animation: slide-in 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    0%   {
        opacity: 1; 
        margin-left: 0; 
    }
    100% {
        opacity: 0; 
        margin-left: -100vw;
    }
}

@keyframes slide-in {
    0%   {
        opacity: 0; 
        left: 100vw; 
    }
    100% {
        opacity: 1; 
        left: 0;
    }
}